.section04 h1,
.section04 h2,
.section04 h3,
.section04 h4
{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}


.section04
{
    background-color: #4B2D7F;
    color: white;
    font-size: 16px;
    background: url("../../pictures/landing/section04/letsgrow.jpg") no-repeat center;
    background-size: cover;
}

.section04 .mycontent
{
    padding: 40px;
}

.section04 h1
{
    font-weight: bold;
    font-style: normal;
    font-family: "Montserrat SemiBold";
    font-size: 52px;
    /*color: black;*/
    line-height: 52px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section04 h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 42px;
    /*font-family: Montserrat-SemiBold;*/
    font-family: 'Palatino Linotype','Book Antiqua', 'Palace Script MT', serif;
    /*margin-bottom: 20px;*/
    /*margin-top: 20px;*/
    /*color: black;*/

}

.section04 p
{
    font-family: Montserrat-Regular;
    font-size: 18px;
    font-weight: bold;
    /*color: black;*/
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}