.section08
{
    /*background-color: #0f6674;*/
    background: url("../../pictures/landing/section08/background.jpg") center no-repeat;
    background-size: cover;
    padding-bottom: 0;
}



.section08 .blockquote
{
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    padding-left: 40px;
    margin-top: 70px;
    position: relative;
}

/*.section08 .blockquote::before*/
/*{*/
/*    content: '\201C';*/
/*    float: left;*/
/*    font-size: 150px;*/
/*    font-weight: 500;*/
/*    font-style: italic;*/
/*    color: deeppink;*/
/*    position: absolute;*/
/*    top: -110px;*/
/*    left: -10px;*/

/*}*/


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px)
{
    .section08 .blockquote::before
    {display: none}

    .section08 .carousel-caption
    {
        /*width: 270px;*/
        position: absolute;
        /*right: 15%;*/
        bottom: 5px;
        /*left: 5%;*/
        top: -25px;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
    }

    .section08 .blockquote
    {
        margin-top: 5px;
        padding-left: 0;
        font-size: 14px;
    }

    p {
        font-family: Montserrat-Regular;
        font-size: 16px;
        font-weight: normal;
        color: white;
    }

    h1
    {
        font-weight: bold;
        font-style: normal;
        font-family: "Montserrat SemiBold";
        font-size: 30px;
        color: white;
        line-height: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h2
    {
        font-weight: normal;
        font-style: italic;
        font-size: 20px;
        font-family: 'Palatino Linotype','Book Antiqua', 'Palace Script MT', serif;
        color: white;
    }

    img.my-photo-of-happy-client {
        margin-top: 200px;
    }

    .carousel-indicators li {
        box-sizing: content-box;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 30px;
        height: 15px;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity 0.6s ease;
    }

}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px)
{
    .section08 .blockquote::before
    {display: none}

    .section08 .carousel-caption
    {
        width: 270px;
        position: absolute;
        right: 15%;
        bottom: 5px;
        left: 5%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
    }

    .section08 .blockquote
    {
        margin-top: 5px;
        padding-left: 0;
        font-size: 14px;
    }

    p {
        font-family: Montserrat-Regular;
        font-size: 14px;
        font-weight: normal;
        color: white;
    }

    h1
    {
        font-weight: bold;
        font-style: normal;
        font-family: "Montserrat SemiBold";
        font-size: 26px;
        color: white;
        line-height: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h2
    {
        font-weight: normal;
        font-style: italic;
        font-size: 16px;
        font-family: 'Palatino Linotype','Book Antiqua', 'Palace Script MT', serif;
        color: white;
    }

}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px)
{
    .section08 h1
    {
        font-weight: bold;
        font-style: normal;
        font-family: "Montserrat SemiBold";
        font-size: 40px;
        color: white;
        line-height: 40px;
        margin-top: 0px;
        margin-bottom: 25px;
    }

    .section08 h2 {
        font-weight: normal;
        font-style: italic;
        font-size: 30px;
        font-family: Montserrat-SemiBold;
        font-family: 'Palatino Linotype','Book Antiqua', 'Palace Script MT', serif;
        margin-bottom: 0px;
        margin-top: 0px;
        color: white;
    }

    .section08 p {
        font-family: Montserrat-Regular;
        font-size: 20px;
        font-weight: normal;
        color: white;
        text-align: left;
    }

    .section08 .blockquote::before
    {
        content: '\201C';
        float: left;
        font-size: 150px;
        font-weight: 500;
        font-style: italic;
        color: deeppink;
        position: absolute;
        top: -46px;
        left: -40px;
    }

    .section08 .blockquote
    {
        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        padding-left: 40px;
        margin-top: 20px;
        position: relative;
    }

    .section08 .carousel-caption
    {
        position: absolute;
        right: 15%;
        bottom: 20px;
        left: 20%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
        top: 6%;
        bottom: auto;
        width: 90%;
    }

    .section08 .my-photo-of-happy-client {
        margin-top: 110px;
    }

    .section08 img {
        /*max-width: 70%;*/
        height: auto;
        margin-left: 25px;
        /*width: 350px;*/
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px)
{
    .section08 h1
    {
        font-weight: bold;
        font-style: normal;
        font-family: "Montserrat SemiBold";
        font-size: 44px;
        color: white;
        line-height: 44px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .section08 h2 {
        font-weight: normal;
        font-style: italic;
        font-size: 34px;
        font-family: Montserrat-SemiBold;
        font-family: 'Palatino Linotype','Book Antiqua', 'Palace Script MT', serif;
        margin-bottom: 20px;
        margin-top: 20px;
        color: white;
    }

    .section08 p {
        font-family: Montserrat-Regular;
        font-size: 22px;
        font-weight: normal;
        color: white;
        text-align: left;
    }

    /*.section08 .blockquote::before*/
    /*{*/
    /*    content: '\201C';*/
    /*    float: left;*/
    /*    font-size: 150px;*/
    /*    font-weight: 500;*/
    /*    font-style: italic;*/
    /*    color: deeppink;*/
    /*    position: absolute;*/
    /*    top: -94px;*/
    /*    left: -18px;*/
    /*}*/

    .section08 .carousel-caption
    {
        position: absolute;
        right: 15%;
        top: 3%;
        bottom: 20px;
        left: 18%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: left;
        bottom: auto;
    }

    .section08 .my-photo-of-happy-client
    {
        margin-top: 100px;
        margin-left: 50px;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px)
{
    .section08 .carousel-caption
    {
        padding-left: 20px;
        padding-right: 20px;
        /*width: 100%;*/
        text-align: center;
        /*background: rgba(46,30,92, 0.8);*/
        top: 68px;
        left: 60px;
        right: 40px;
    }

    .section08 .blockquote
    {
        margin-top: 5px;
        padding-left: 0;
        font-size: 14px;
    }

    .section08 .blockquote-footer
    {
        margin-top: 5px;
    }

    .section08 .blockquote::before
    {
        content: '\201C';
        float: left;
        font-size: 150px;
        font-weight: 500;
        font-style: italic;
        color: deeppink;
        position: absolute;
        top: -94px;
        left: -18px;
    }

    .section08 h1
    {
        font-weight: bold;
        font-style: normal;
        font-family: "Montserrat SemiBold";
        font-size: 52px;
        color: white;
        line-height: 52px;
        margin-top: 20px;
        margin-bottom: 90px;
    }

    .section08 h2 {
        font-weight: normal;
        font-style: italic;
        font-size: 42px;
        font-family: Montserrat-SemiBold;
        font-family: 'Palatino Linotype','Book Antiqua', 'Palace Script MT', serif;
        margin-bottom: 20px;
        margin-top: 20px;
        color: white;
    }

    .section08 p {
        font-family: Montserrat-Regular;
        font-size: 22px;
        font-weight: normal;
        color: white;
        text-align: left;
        padding-left: 50px;
    }

    .section08 .blockquote::before
    {
        content: '\201C';
        float: left;
        font-size: 150px;
        font-weight: 500;
        font-style: italic;
        color: deeppink;
        position: absolute;
        top: -110px;
        left: -10px;

    }

    .section08 h3
    {
        margin: 0 0;
        font-size: 20px;
    }

    .blockquote-footer {
        display: block;
        font-size: 14px;
        color: #6c757d;
    }

    .section08 .my-photo-of-happy-client
    {
        margin-top: 100px;
        margin-left: 75px;
    }

}


