div.section01-first-display
{
    background: url("../../pictures/landing/section01/Header-BG-Image.jpg") center no-repeat;
    background-size: cover;
    height: 946px;
    position: relative;
}

div.section01-first-display .container-fluid.my-slogan
{
    position: absolute;
    bottom: 35%;
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px)
{
    h1
    {
        font-weight: bold;
        font-style: normal;
        font-family: "Montserrat SemiBold";
        font-size: 64px;
        color: white;
        line-height: 60px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h2 {
        font-weight: normal;
        font-style: italic;
        font-size: 42px;
        /*font-family: Montserrat-SemiBold;*/
        font-family: 'Palatino Linotype','Book Antiqua', 'Palace Script MT', serif;
        /*margin-bottom: 20px;*/
        /*margin-top: 20px;*/
        color: white;

    }

    p
    {
        font-family: Montserrat-Regular;
        font-size: 22px;
        font-weight: normal;
        color: white;
    }

    div.section01-first-display .container-fluid.my-slogan
    {
        position: absolute;
        bottom: 30%;
    }

    div.section01-first-display .my-2-buttons {
        margin-top: 30px;
    }
}


/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px)
{
    h1
    {
        font-weight: bold;
        font-style: normal;
        font-family: "Montserrat SemiBold";
        font-size: 54px;
        color: white;
        line-height: 54px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h2 {
        font-weight: normal;
        font-style: italic;
        font-size: 32px;
        font-family: 'Palatino Linotype','Book Antiqua', 'Palace Script MT', serif;
        color: white;

    }

    p
    {
        font-family: Montserrat-Regular;
        font-size: 22px;
        font-weight: normal;
        color: white;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px)
{
    h1
    {
        font-weight: bold;
        font-style: normal;
        font-family: "Montserrat SemiBold";
        font-size: 44px;
        color: white;
        line-height: 44px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h2 {
        font-weight: normal;
        font-style: italic;
        font-size: 22px;
        font-family: 'Palatino Linotype','Book Antiqua', 'Palace Script MT', serif;
        color: white;

    }

    p
    {
        font-family: Montserrat-Regular;
        font-size: 22px;
        font-weight: normal;
        color: white;
    }

    div.section01-first-display .container-fluid.my-slogan
    {
        position: absolute;
        bottom: 38%;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px)
{
    h1
    {
        font-weight: bold;
        font-style: normal;
        font-family: "Montserrat SemiBold";
        font-size: 44px;
        color: white;
        line-height: 44px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h2 {
        font-weight: normal;
        font-style: italic;
        font-size: 22px;
        font-family: 'Palatino Linotype','Book Antiqua', 'Palace Script MT', serif;
        color: white;

    }

    p
    {
        font-family: Montserrat-Regular;
        font-size: 22px;
        font-weight: normal;
        color: white;
    }

    div.section01-first-display .container-fluid.my-slogan
    {
        position: absolute;
        bottom: 38%;
    }
    nav.navbar.navbar-expand-md.pr-0.pl-0.ml-0.mr-0.d-flex.justify-content-end {
        width: 100%;
    }
}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px)
{
    h1
    {
        font-weight: bold;
        font-style: normal;
        font-family: "Montserrat SemiBold";
        font-size: 30px;
        color: white;
        line-height: 32px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h2 {
        font-weight: normal;
        font-style: italic;
        font-size: 24px;
        font-family: 'Palatino Linotype','Book Antiqua', 'Palace Script MT', serif;
        color: white;

    }

    p
    {
        font-family: Montserrat-Regular;
        font-size: 18px;
        font-weight: normal;
        color: white;
    }

    div.section01-first-display .container-fluid.my-slogan
    {
        position: absolute;
        bottom: 38%;
    }

    button.btn.btn-primary {
        font-size: 12px;
        padding: 10px 14px;
    }

    nav.navbar.navbar-expand-md.pr-0.pl-0.ml-0.mr-0.d-flex.justify-content-end {
        width: 100%;
    }
}


/*далее кнопки под текстом большого слогана */

.my-2-buttons {
    margin-top: 10px;
}

div.section01-first-display .my-button-our-story
{
    background-color: #f42367;
    border-radius: 30px;
    border:none;
    opacity: 100;
}

div.section01-first-display .my-button-read-more
{
    background-color: #67328e;
    border-radius: 30px;
    opacity: 100;
    border:none;
}



/*top menu*/
.my-top-menu a.nav-link {
    color: white;
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
    .main-header-text
    {
        /*background-color: rgba(0,0,0, 0.5);*/
        left: 0;
    }

    .navbar-nav
    {
        /*background: rgba(46,30,92, 0.98);*/
        position: relative;
        z-index: 1;
        padding: 0 15px;

    }

}

div.section01-first-display .navbar-toggler-icon {
    width: 3em;
    height: 3em;
}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px)
{
    .navbar-nav
    {
        background: rgba(46,30,92, 0.98);
        position: relative;
        z-index: 1;
        padding: 0 15px;

    }
}


button.navbar-toggler
{
    outline: none;
    padding: 0.25rem 0;
}

/*.navbar-toggler {*/
/*    padding: 0.25rem 0;*/
/*    font-size: 1.25rem;*/
/*    line-height: 1;*/
/*    background-color: transparent;*/
/*    border: 1px solid transparent;*/
/*    border-radius: 0.25rem;*/