section
{
    outline: 2px darkred solid;
}

.container, .container-fluid
{
    outline: 1px black solid;
}

.row
{
    outline: 1px black solid;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,

.col-sm-4,
.col-sm-7,

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,

.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12

{
    outline: 2px #34ce57 solid;
}


.section05 div {
    outline: 1px #34ce57 solid;
}



.technical-commentary {
    color: black;
}