@font-face {
    font-family: Montserrat-SemiBold;
    src: url("../../library/text-font/Montserrat");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../../library/text-font/Montserrat/Montserrat-Regular.ttf");
}

div.number-of-section
{
    background-color: black;
    color: white;
    font-size: 14px;
    display: block;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
    color: #1d1d1d;
}

img {
    max-width: 100%;
    height: auto;
}


section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

h1
{
    font-weight: bold;
    font-style: normal;
    font-family: "Montserrat SemiBold";
    font-size: 54px;
    color: black;
    line-height: 54px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
    font-family: 'Palatino Linotype','Book Antiqua', 'Palace Script MT', serif;
    color: white;

}



h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Montserrat','Palatino Linotype','Book Antiqua', 'Palace Script MT', serif;
    margin-bottom: 30px;
    color: #484848;
}

p
{
    font-family: Montserrat-Regular;
    font-size: 22px;
    font-weight: normal;
    color: black;
}

.main-header {
    background: url("../pictures/landing/section01/Header-BG-Image.jpg") center no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 700px;
    position: relative;
}

.main-header .navbar-toggler {
    color: white;
    font-size: 40px;
    outline: 1px dashed white;
}

.main-header .navbar-brand
{
    font-size: 41px;
    color: white;
    font-weight: 700;
}

.main-header ul li a {
    font-size: 17px;
    color: white;
    font-weight: 700;
}

.main-header ul li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: white;
    height: 1px;
    transform: scale(0);
    transition: all 500ms;
}

.main-header ul li a:hover::after {
    transform: scale(1);
}

.main-header-text {
    position: absolute;
    top: 25%;
    left: 5%;
    width: 600px;
    color: white;
    padding: 20px;
}

.main-header-buttons {
    /*padding-left: 30px;*/
}

.main-header-buttons .btn {
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
}

.btn {
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin-right: 20px;
    padding: 10px 30px;
    opacity: 80%;
    box-shadow: 0 4px 16px rgba(0,0,0, 0.35);
    transition: all 500ms;
}

.main-header .btn:hover {
    opacity: 100%;
    color: white;
}

.btn-pink {
    background-color: deeppink;
}

.btn-violet {
    background-color: darkviolet;
}

section .container .row .myrow
{
    margin-left: 0!important;
    margin-right: 0!important;
}



/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px)
{
    .main-header-text
    {
        width: 320px;
        /*outline: 1px solid green;*/
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px)
{
    .main-header-text
    {
        background-color: rgba(0,0,0, 0.5);
        left: 0;
        width: auto;
        padding-right: 130px;
        padding-left: 50px;
        padding-bottom: 40px;
        max-width: 100%;
        top: 100px;
    }

    /*.navbar-nav*/
    /*{*/
    /*    background: rgba(46,30,92, 0.98);*/
    /*    position: relative;*/
    /*    z-index: 1;*/
    /*    padding: 0 15px;*/

    /*}*/

    h2
    {
        font-size: 25px;


    }

    .main-header-buttons .btn
    {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}










/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

